{% extends 'base.html' %}
{% block title %}
    My Dog
{% endblock %}
{% block content %}
    <h1>My Dog</h1>
    {% if user.is_authenticated %}
        <a href="{% url 'add-dog' %}" class="btn btn-primary" style="margin-bottom: 1rem">Add Dog</a><br>
        {% for dog in object_list %}
            {% if dog.owner.id == user.id %}
            <div class="card" style="max-width: 15rem;display: inline-block;">
                <img class="card-img-top" src="{{ dog.get_image_url }}" style="width: 15rem; height: 10rem">
                <div class="card-body">
                    <h3>{{ dog.name }}</h3>
                    {{ dog.breed }}<br><br>
                    <a href="{% url 'dog-detail' dog.pk%}" class="btn btn-info" style="margin-left: 4rem">Details</a>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    {% else %}
        <h4>Please login</h4>
    {% endif %}
{% endblock %}